<!--
  Generated template for the ChangeType component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<div style="position:absolute;left:0;right:0;bottom:0;background:#ffffff;">
  <ion-icon name="close" style="position:absolute;right:20px;top:0;width:20px;height:20px;background:#ccc;z-index: 100;text-align: center;line-height:20px;border-radius:50%;" (click)="dismiss()"></ion-icon>
  <ion-list no-lines>
    <ion-item>
      <ion-avatar item-left>
        <img src="img/1.jpg">
      </ion-avatar>
      <h3>{{data?.goods_name}}</h3>
    </ion-item>
    <ion-item>
      <ion-list-header>
        规格
      </ion-list-header>
      <button *ngFor="let item of proList;" (click)="selectList(item.value)" [ngClass]="setClasses(item.key)" ion-button color="light" small>{{item.value}}</button>
    </ion-item>
    <ion-item>
      <ion-list-header>
        购买数量
      </ion-list-header>
      <button ion-button outline item-left icon-left icon-right (click)="add(number.value)">
        <ion-icon name="add"></ion-icon>
      </button>
      <ion-input type="number" #number value="{{proNumber}}" (input)="changeNumber(number.value)"></ion-input>
      <button ion-button outline item-right icon-left icon-right  (click)="reduce(number.value)">
        <ion-icon name="remove"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
  <ion-toolbar>
     <ion-grid>
      <ion-row>
        <ion-col width-50>
          <ion-row wrap>
            <ion-col width-33>
              <button ion-button color="light" full  (click)="contact($event)">
                <div>
                  <ion-icon name="chatbubbles"></ion-icon>
                  <div>客服</div>
                </div>
              </button>
            </ion-col>
            <ion-col width-33>
              <button ion-button color="light" full  (click)="shoppingCar()">
                <div>
                  <ion-icon name="cart"></ion-icon>
                  <div>购物车</div>
                </div>
              </button>
            </ion-col>
            <ion-col width-33>
              <button ion-button color="light" full  (click)="collect($event)">
                <div [ngSwitch]="collection">
                  <ion-icon *ngSwitchCase="false" name="heart-outline"></ion-icon>
                  <ion-icon *ngSwitchCase="true" name="heart"></ion-icon>
                  <div>收藏</div>
                </div>
              </button>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col width-50>
          <ion-row>
            <ion-col width-50>
                <button ion-button color="light" full (click)="bugNow()">立即购买</button>
            </ion-col>
            <ion-col width-50>
              <button ion-button color="light" full (click)="addCart()">加入购物车</button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</div>
