page-order-list {
	.content-ios {background:#f8f8f8;}
	ion-grid {margin-bottom:15px;background:#ffffff;}
	ion-row ion-col {text-align:center;}
	ion-row ion-col.active {color:#002878; border-bottom:1px solid #002878;} 
	ion-list ion-list {margin-bottom:10px !important;}
}
