page-shopping-car {
	ion-label ion-item,ion-label .item-inner {border:0!important;}
	ion-label input {width:30px;border:0;height:24px;vertical-align:bottom;text-align:center;font-size:14px;}
	ion-label button {margin:0!important;}
	.btn_wrap {font-size:0;}
	.toolbar-background {background:none!important;}
	ion-toolbar{padding:0!important;}
}
