<!--
  Generated template for the SortProduct component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<ion-list>
  <ion-item ion-item (click)="sortList('', '','综合排序')">
    综合排序
  </ion-item> 
  <ion-item ion-item (click)="sortList('2','3','价格从高到低')">
    价格从高到低
  </ion-item> 
  <ion-item ion-item (click)="sortList('1','3','价格从低到高')">
    价格从低到高
  </ion-item> 
  <ion-item ion-item (click)="sortList('2','2','人气排序')">
    人气排序
  </ion-item> 
</ion-list>